@import "reset";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

$orange: #fa4002;

body,
button,
input,
select,
textarea {
  font-family: "Roboto";
}

.big-header {
  background-color: $orange;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;
}


.button {
  color: $orange;
  text-decoration: none;
  background: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin-top: 25px;
  margin-right: 25px;
}

.buttonwrapper {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.sprites {
  transform: scale(0.5);

  &:hover {
    border: 9px solid white;
  }
}

.intro {
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

.intro1 {
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  -webkit-text-stroke: 1px black;
}


.pane-leave-active,
.pane-enter-active {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    background: white;
    z-index: 1;
  }
}

.pane-leave-active {
  animation: fake .5s;

  &::after {
    animation: slideLeave .5s;
  }
}

.pane-enter-active {
  animation: fake 1s;

  &::after {
    animation: slideEnter .5s ease .5s;
  }
}

@keyframes slideLeave {
  to {
    transform: translateX(0);
  }
}

@keyframes slideEnter {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
